<link href="home/css/styles.css" rel="stylesheet"></link>
<link href="home/css/barousel.css" rel="stylesheet"></link>
<div style="margin-top: 50px">
	<div class="row">
		<div class="span7" style="text-align: justify">
			<h2 style="margin-top: 0px">{{'section1.title' |i18n}}</h2>
			<p>{{'section1.text' |i18n}}</p>
			<h2 style="margin-top: 15px">{{'section2.title' |i18n}}</h2>
			<p>{{'section2.text' |i18n}}</p>
			<h2 style="margin-top: 15px">{{'section3.title' |i18n}}</h2>
			<p>{{'section3.paragraph1' |i18n}}</p>
			<p>{{'section3.paragraph2' |i18n}}</p>
			<div style="margin-top: 15px"></div>
			<div>
				<div class="experiment-banner"
					style="background-image: url(home/img/sun-alpha.png);">
					<h4 style="margin-top: 0px">Experimento solar</h4>
					Explora el Sol y sus manchas. Toma imágenes para ayudar a la
					medición de la actividad solar.
				</div>
			</div>
			<div style="margin-top: 15px; background-color: #0F0F0F">
				<div class="experiment-banner"
					style="background-image: url(home/img/night-alpha.png);">
					<h4 style="margin-top: 0px">Experimento nocturno</h4>
					Observa el cielo nocturno. Estrellas, galaxias y asteroides te
					esperan.
				</div>
			</div>
			<div style="margin-top: 15px; background-color: #0F0F0F">
				<div class="experiment-banner"
					style="background-image: url(home/img/pspace-alpha.png);">
					<h4 style="margin-top: 0px">Personal space</h4>
					Take an event to locate the region of the sky that was directly
					overhead at that exact moment.
				</div>
			</div>
			<div style="margin-top: 15px; background-color: #0F0F0F">
				<div class="experiment-banner"
					style="background-image: url(home/img/wolf-alpha.png);">
					<h4 style="margin-top: 0px">Actividad solar</h4>
					Analiza manchas solares en tu Android y contribuye a la medición de
					la actividad solar.
				</div>
			</div>
		</div>
		<div class="span5" ng-controller="MainImagesCtrl">
			<div class="right-bar">
				<h5
					style="margin-bottom: 7px; color: gray; margin-top: 8px; text-align: center;">Imágenes
					de la comunidad</h5>
				<div class="animate-show" ng-show="!loading && slides.length > 0">
					<div id="main_carousel" class="barousel"
						ng-mouseenter="focused=true" ng-mouseleave="focused=false"
						style="width: 100%; height: 276px; border-bottom: 2px solid #101010; border-top: 2px solid #101010; background-color: #101010">
						<div class="barousel_image" style="width: 100%; height: 100%">

							<img ng-repeat="slide in slides" src="{{slide.image}}" alt=""
								ng-class="{'default': $first}" class="">
						</div>
						<div class="barousel_content animate-show" ng-show="focused"
							style="padding: 10px 10px 0 10px; bottom: 25px">
							<!-- content 1 -->
							<div ng-repeat="slide in slides" ng-class="{'default': $first}">
								<p class="header" style="line-height: 20px; font-size: 17px">{{'home.slide.title'
									| i18n:slide.rt}}</p>
								<p>{{'home.slide.date' | i18n:(slide.date | utc |
									date:'completeDate') }}</p>
								<p>
									<b style="cursor: default" class="label label-g">{{slide.id}}</b>
								</p>
							</div>
						</div>
						<div ng-show="false" class="barousel_nav"></div>

					</div>
				</div>
				<div class="animate-show" ng-show="!loading && slides.length == 0"
					style="width: 70%; margin-left: 15%; margin-top: 15px">
					<div class="alert alert-g">
						<strong>Oops!</strong> No images?.
					</div>
				</div>
				<div class="animate-show" ng-show="loading" class="mess-info"
					style="width: 50%; margin-left: 25%; margin-top: 15px">
					<div class="alert alert-g">Loading...</div>
				</div>
			</div>
			<div class="right-bar" style="margin-top: 15px">
				<h5
					style="margin-bottom: 7px; color: gray; text-align: center; margin-top: 8px;">Tus
					imágenes</h5>
				<div class="animate-show" ng-show="!loading && slides.length > 0">
					<div id="main_carousel" class="barousel"
						ng-mouseenter="focused=true" ng-mouseleave="focused=false"
						style="width: 100%; height: 276px; border-bottom: 2px solid #101010; border-top: 2px solid #101010; background-color: #101010">
						<div class="barousel_image" style="width: 100%; height: 100%">

							<img ng-repeat="slide in slides" src="{{slide.image}}" alt=""
								ng-class="{'default': $first}" class="">
						</div>
						<div class="barousel_content animate-show" ng-show="focused"
							style="padding: 10px 10px 0 10px; bottom: 25px">
							<!-- content 1 -->
							<div ng-repeat="slide in slides" ng-class="{'default': $first}">
								<p class="header" style="line-height: 20px; font-size: 17px">{{'home.slide.title'
									| i18n:slide.rt}}</p>
								<p>{{'home.slide.date' | i18n:(slide.date | utc |
									date:'completeDate') }}</p>
								<p>
									<b style="cursor: default" class="label label-g">{{slide.id}}</b>
								</p>
							</div>
						</div>
						<div ng-show="false" class="barousel_nav"></div>
					</div>
				</div>
			</div>
			<div class="right-bar" style="margin-top: 15px">
				<h5
					style="margin-bottom: 7px; color: gray; margin-top: 8px; text-align: center">Nuestros
					telescopios</h5>
				<p>
					<iframe
						src="http://maps.google.com/maps/ms?msid=205312274831185087174.0004c066c4c18989826ae&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=15.284185,-3.867187&amp;spn=102.530471,220.78125&amp;z=2&amp;output=embed"
						frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
						width="368" height="350"></iframe>
					<br> <small>Visualiza <a
						style="color: #0000ff; text-align: left;"
						href="http://maps.google.com/maps/ms?msid=205312274831185087174.0004c066c4c18989826ae&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=15.284185,-3.867187&amp;spn=102.530471,220.78125&amp;z=2&amp;source=embed">GLORIA
							Telescopes</a> en un mapa más grande
					</small>.
				</p>
			</div>
		</div>
	</div>
</div>